*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(black.jpg);
	background-size: cover;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-bottom: 4px solid green;
}

nav p{
	font-family: arial;
	color: #222;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
}

nav ul{
	float: left;
}

nav ul li{
	float: left;
	list-style: none;
	position: relative;
}

nav ul li a{
	display: block;
	font-family: arial;
	color: #222;
	font-size: 14px;
	padding: 21px 14px;
	text-decoration: none;
}

nav ul li ul{
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
	display: block;
}

nav ul li ul li a{
	width: 100px;
	border-radius: 4px;
}

nav ul li ul li a{
	padding: 12px 14px;
}

nav ul li ul li a:hover{
	background-color: #959090;
}

#sig{
	float: right;
	padding-right: 30px;
}

#sig a:hover{
	background-color: #959090;
}

#showcase{
	min-height: 500px;
	background:url(foody.jpg) no-repeat;
	background-size: cover;
}

#showcase h1{
	font-size: 75px;
	padding-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #e8491d;
	text-align: center;
}

article#main-col{
	float: left;
	width: 65%;
}



